/*Fonts*/

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"),
       url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff2") format("woff2"),
       url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff2") format("woff2"),
       url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

/*Variables*/

:root {
--basic-white: #FFFFFF;
--basic-neutral: #EEEEEE;
--browser-color: #4D4D4D;
--basic-black: #000000;
--basic-text: #283136;
--text-discount: #444444;
--special-text: #666666;
--cart-color: #A6A6A6;
--basic-red: #FB565A;
--hover-red: #E74246;
--active-red: #D7373B;
--basic-green: #00CA74;
--hover-green:#00BC6C;
--active-green:#00AA62;
--basic-yellow: #EFC849;
--hover-yellow: #EAB534;
--active-yellow: #E5A722;
--neutral-grey: #DFDFDF;
--grey: #D5D5D5;}

/* Global */

.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-text);
  text-transform: none;
  background-color: var(--basic-white);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
  background-color: var(--basic-neutral);
  margin: 0;
  text-align: center;
  padding-top: 45px;
  padding-bottom: 100px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  opacity: 0;
}

/* Grid */

.page {
  height: 100%;
}

.product-page {
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-rows: 133px 1fr;
  align-content: start;
}
/* Container */

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 1160px;
}

.main-container {
  min-width: 1200px;
}

/* Main header */

.main-header {
  margin-bottom: 0px;
}


/* Main navigation */

.main-navigation {
  display: grid;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
  font-weight: 500;
  background-color: var(--basic-neutral);
}

.main-navigation-wrapper {
  display: grid;
  grid-template-columns: 260px 1fr max-content;
  margin: 0 auto;
  padding: 0 20px;
  width: 1160px;
}

.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation-current a:not([href]) {
  border-bottom: 2px solid var(--basic-red);
}

/* User navigation */

.site-navigation a,
.cart-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus,
.cart-navigation a:hover,
.cart-navigation a:focus {
  color: var(--basic-red);
}

.site-navigation a:active,
.cart-navigation a:active {
  color:var(--basic-black);
  opacity: 0.3;
}


/* Features */

.slider {
  background-color: var(--basic-neutral);
}

.features {
  display: grid;
}

.features-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  list-style: none;
  margin: 0;
  padding: 0;
}

.feature-item-accent {
  color: var(--basic-black);
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.feature-item {
  padding-top: 60px;
  padding-bottom: 60px;
}

.feature-item-first {
  background-image: url("../img/nerds-index-slide1.png");
  background-repeat: no-repeat;
  background-position: right;
}

.feature-item-second {
  background-image: url("../img/nerds-index-slide2.png");
  background-repeat: no-repeat;
  background-position: right;
}
.feature-item-third {
  background-image: url("../img/nerds-index-slide3.png");
  background-repeat: no-repeat;
  background-position: right;
}

/*Services*/
.services {
  margin: 80px 0px;
}

.services-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.services-item h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.services-item p {
  margin: 16px 10px 32px 10px;
}

/* Index columns */

.index-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 75px;
  background-color: var(--basic-white);
}

.about-us-accent {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color:var(--basic-black);
}

.about-us {
  padding: 0;
  margin: 0;
  width: 651px;
}

.about-us h3 {
  margin: 0;
  margin-bottom: 23px;
  margin-top: 8px;
  font-weight: bold;
  text-transform: uppercase;
}

.about-us p {
  margin: 0;
  margin-bottom: 32px;
}

.indicators {
  width: 400px;
  height: 460px;
}

.indicators h3 {
  margin: 0;
  margin-bottom: 31px;
  margin-top: 37px;
  font-weight: bold;
  text-transform: uppercase;
}

.tasks-list {
  margin: 0;
  padding: 0;
  list-style-image: url("../img/line.svg");
  list-style-position: outside;
}

.task-item {
  line-height: 24px;
}

.indicators-list {
  margin: 0;
  padding: 0;
}

.indicators img {
  width: 360px;
  height: 208px;
}

/* Button */

.button {
  padding: 10px 20px;
  font-weight: 500;
  color: var(--basic-white);
  text-align: center;
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
  border-radius: 3px;
  line-height: 18px;
  vertical-align: middle;
}

.button-app {
  background-color: var(--basic-green);
}

.button-presentation {
  background-color: var(--basic-yellow);
}

.button:hover,
.button:focus {
  background-color: var(--hover-red);
}

.button:active {
  -webkit-text-fill-color: rgba(255, 255, 255, 0.3);
  background-color: var(--active-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button-app:hover,
.button-app:focus {
  background-color:var(--hover-green);
}


.button-presentation:hover,
.button-presentation:focus {
  background-color:var(--hover-yellow);
}

.button-app:active {
  background-color: var(--active-green);
}

.button-presentation:active {
  background-color: var(--active-yellow);
}

button {
  outline: none;
}

/* Partners */

.partners {
  display: grid;
}

.partners-list {
  list-style: none;
  margin:0;
  padding:0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 40px;
}

.partners-list a {
  opacity: 0.2;
}

.partners-list a:hover,
.partners-list a:focus {
  opacity: 1;
}

.partners-list a:active {
  opacity: 0.1;
}

/* Indicators*/

.indicator {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}

/* Contacts */

.contacts-phone {
  font: inherit;
}

/* Filters */

.filters {
width: 260px;
}

filter {
  grid-column: 1/2;
}


.filter fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.filter fieldset:first-child {
  margin-bottom: 39px;
}

.filter fieldset:nth-child(2n) {
  margin-bottom: 28px;
}

.filter fieldset:nth-child(3n) {
  margin-bottom: 33px;
}



.filter legend {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin-bottom: 16px;
}


.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 19px;
  color:var(--basic-text);
}

.filter-option {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
}


.filter-input-checkbox,
.filter-input-checkbox,
.filter-input-radio,
.filter-input-radiol {
  color: var(--browser-color);
  opacity: 0.4;
}

.filter-input-checkbox:hover,
.filter-input-checkbox:focus,
.filter-input-radio:hover,
.filter-input-radio:focus {
  color: var(--browser-color);
}


.sort {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  grid-column: 2/3;
  margin: 0;
  padding: 0;
}


.sort-item a {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  opacity: 0.3;
  color: var(--basic-black);
}

.sort-item a:hover,
.sort-item a:focus {
  opacity: 0.6;
}

.sort-item a:active,
.sort-item-current a:not([href]) {
  opacity: 1;
}

.down-up-item a path {
  opacity: 0.2;
}

.down-up-item a:hover path,
.down-up-item a:focus path {
  opacity: 1;
}

.down-up-item a:active path,
.down-up-item-current a:not([href]) path {
  fill:#231F20;
  opacity: 1;
}

.invisible {
  display: none;
}
/* Catalog */

.catalog {
  margin-left: 140px;
  grid-column: 2/3;

}
.catalog-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 42px;
  row-gap: 31px;
  margin: 0 auto;
  padding: 0;
}

.catalog-item {
  background-color: var(--basic-neutral);
  box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
  border-radius: 5px;
}

.catalog-item a {
  font-size: 16px;
  line-height: 18px;
  color:var(--special-text);
}

.catalog-item-image {
  width: 358px;
  height: 578px;
  margin: 0;
}

.description h3 {
  text-align: center;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.description p {
  text-align: center;
  margin: 0;
  padding: 0;
}

.project-name a {
  color:var(--basic-black);
}

.project-name a:hover,
.project-name a:focus {
  color:var(--basic-red);
}

.project-name a:active {
  color:var(--basic-black);
  opacity: 0.3;
}

.catalog .button {
  color:var(--basic-white);
}
/* Pagination */

.sort-list,
.pagination-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sort h3{
  margin: 0;
  padding: 0;
}

.filter-button,
.pagination-item a {
  background-color: var(--basic-neutral);
  color: var(--basic-black);
}

.filter-button:hover,
.filter-button:focus,
.pagination-item a:hover,
.pagination-item a:focus {
  background-color: var(--neutral-grey);
}

.filter-button:active,
.pagination-item a:active {
  background: var(--grey);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  border: 3px solid #DBDBDB;
  background: rgba(0, 0, 0, 0.0001);
}


/* Main footer */

.main-footer {
  margin-top: 80px;
  color: var(--special-text);
  background-color: var(--basic-white);
  display: grid;
  padding-bottom: 60px;
}

.footer-grid {
  padding-top: 60px;
  display: grid;
  grid-template-columns: min-content 1fr 2fr;
}

.footer-bold-text {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-text);
}


.location {
  height: 416px;
  width: 100vh;
  min-width: 100%;
}

.footer-contacts {
  box-sizing: border-box;
  grid-column: 1/2;
  background-color:var(--basic-white);
  width: 319px;
  height: 308px;
}

.footer-social {
  grid-column: 2/3;
}

.footer-text-container {
  grid-column: 3/4;
}

.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-text {
  font-size: 16px;
  line-height: 22px;
  color: var(--text-discount);
}

.contact-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.address {
  font-size: 16px;
  line-height: 18px;
  color: var(--special-text);
}

.contacts-phone {
  color: inherit;
}


.social-button {
  background: linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;
}

.social-button:hover,
.social-button:focus {
  background: linear-gradient(0deg, #E74246, #E74246), #FFFFFF;
}

.social-button:active {
  fill-opacity: 0.3;
  background: linear-gradient(0deg, #D7373B, #D7373B), #FFFFFF;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/* Modal */

.modal h2 {
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
  color:var(--basic-black);
  margin: 0;
  margin-bottom: 37px;
  margin-top: 63px;
}

.modal {
  width: 100vh;
  height: 100vh;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  width: 960px;
  height: 590px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
}

.appointment-form input[type="text"],
.appointment-form input[type="email"],
.appointment-form textarea {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--text-discount);
  border: 2px solid #D7DCDE;
}

.login-form input:focus {
background: var(--basic-white);
border: 2px solid var(--basic-black);
border-radius: 3px;
}

.note {
  width: 760px;
}
